.gradle
**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

.idea/
*.iml

.DS_Store
Thumb.db

env.sh

.terraform/

.terraform.lock.hcl
*.log

project/target
target/
.bsp/