image:
  repository: 602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon/aws-load-balancer-controller
  tag: v2.4.2

clusterName: {{ .Values.clusterName }}
region: {{ .Values.region }}
vpcId: {{ .Values.vpcId }}

serviceAccount:
  create: true
  name: {{ .Values.serviceAccount.name }}
  annotations:
    eks.amazonaws.com/role-arn: {{ index .Values.serviceAccount.annotations "eks.amazonaws.com/role-arn" }}